.toggle-button {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    margin-top: 35px;
    margin-left: 20px;
  }

#dem {
margin-left: 10px;
margin-top: 20px;
display: flex;
}
#dem h2{
  margin-top: 40px;
  color: grey;
}
  
  .toggle-button input {
    display: none;
  }
  
  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: orange;
    -webkit-transition: .4s;
    transition: .5s;
    border-radius: 34px;
  }
  
  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .5s;
    border-radius: 50%;
  }
  
  input:checked + .toggle-slider {
    background-color: greenyellow;
  }
  
  input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .toggle-slider.round {
    border-radius: 34px;
  }
  
  .toggle-slider.round:before {
    border-radius: 50%;
  }
  